.root {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto 1fr;
}

.title-area {
    grid-column: 1 / -1;
    grid-row: 1;
}

h1 {
    text-align: center;
    color: lightseagreen;
    background: rgba(32, 178, 171, 0.15);
    margin: 0px;
    padding: 4px;
}