.root {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.answer-box {
    height: 80px;
    margin: 8px;
    border: 1px solid gray;
    border-radius: 10px;
}

.correct {
    background: lightgreen;
}

.wrong {
    background: rgba(255, 0, 0, 0.562);
}

h4 {
    margin: 4px;
}

p {
    margin: 4px;
}