h2 {
    margin: 10px;
    text-align: center;
    border-bottom: 1px solid red;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    margin:8px;
    padding: 4px;
    border: 1px solid lightseagreen;
    border-radius: 8px;
    cursor: pointer;
    background: rgba(32, 178, 171, 0.103);
    font-family: 'Segoe UI';
    color: rgb(10, 88, 85);
}

li:hover {
    background: rgba(32, 178, 171, 0.3);

}